@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-50;
  color: #434343;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.app-banner {
  box-shadow: 1px 2px 8px #0770cd
}

.bottom-nav {
  @apply bg-white py-4 flex items-center justify-evenly w-full shadow;
  position: fixed;
  bottom: 0;
}

button {
  @apply px-4 py-2 rounded text-center w-full;
}

input[type='text'] {
  @apply p-2 border-b
}